---
---

@charset "utf-8";

@font-face {
  font-family: 'Feature';
  src: url('fonts/SNNeoNoire-Regular.eot');
  src: url('fonts/SNNeoNoire-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/SNNeoNoire-Regular.woff'), url('fonts/SNNeoNoire-Regular.ttf');
}

@font-face {
  font-family: 'Body';
  src: url('fonts/FuturaLight.eot');
  src: url('fonts/FuturaLight.eot?#iefix') format('embedded-opentype'), url('fonts/FuturaLight.woff') format('woff'), url('fonts/FuturaLight.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
 }

 @font-face {
  font-family: 'BodyBold';
  src: url('fonts/FuturaLight.eot');
  src: url('fonts/FuturaLight.eot?#iefix') format('embedded-opentype'), url('fonts/FuturaLight.woff') format('woff'), url('fonts/FuturaLight.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
 }

@font-face {
  font-family: 'BodyMedium';
  src: url('fonts/FuturaExtended.eot');
  src: url('fonts/FuturaExtended.eot?#iefix') format('embedded-opentype'), url('fonts/FuturaExtended.woff') format('woff'), url('fonts/FuturaExtended.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Header';
  src: url('fonts/SerifGothicBQ-Heavy.eot');
  src: url('fonts/SerifGothicBQ-Heavy.eot?#iefix') format('embedded-opentype'), url('fonts/SerifGothicBQ-Heavy.woff') format('woff'), url('fonts/SerifGothicBQ-Heavy.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HeaderLight';
  src: url('fonts/SerifGothicBold.eot');
  src: url('fonts/SerifGothicBold.eot?#iefix') format('embedded-opentype'), url('fonts/SerifGothicBold.woff') format('woff'), url('fonts/SerifGothicBold.ttf') format('truetype');
  font-style: normal;
}

// Our variables
$base-font-family: "Body", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-line-height: 1.5;
$base-font-weight: 400;

$pink-color: #F851A5;
$blue-color: #256EFF;
$darkblue-color: #003CB3;
$grey-color: #4A4A4A;
$purple-color: #BF00FF;

$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$spacing-unit:     30px;

$text-color:       #111;
$background-color: white;

// Width of the content area
$content-width:    1440px;

$on-mobile:        500px;
$on-palm:          800px;
$on-hoz-palm:      1100px;
$on-laptop:        1440px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "buttons",
        "fonts",
        "work",
        "colour",
        "lity.min.css",
        "hamburgers.min.css", 
        "header",
        "acordeon",
        "carousel",
        "footer",
        "chat",
        "animate", 
        "solutions"
;
