---
layout: default
---

<div class="home">

	<!--   HERO   -->

  <div class="full-screen-wrapper">
    {% include hero.html video=site.reel content=site.description video-link="//vimeo.com/193598001" reel=true%}
  </div>


	<!--   ABOUT   -->

	<div class="wrapper wrapper-wide">
		{% include section-header.html title="what we do" %}

		<div class="section section--bg">

			<div class="section-inner">
				<div class="filters">
					<p class="feature">
						{{ site.about }}
					</p>
				</div>
			</div>

		</div>	
	</div>
  
	<!--   WORK   -->

  <div class="wrapper wrapper-wide">
    {% include featured-work.html %}
  </div>

  
	<!--   GET IN TOUCH   -->

	{% include get-in-touch.html %}

	<!--   SERVICES   -->


  <div class="wrapper wrapper-wide">

		{% include section-header.html title="services" %}

		<div class="section section--bg">
			<div class="section-inner">

				<div class="filters">

					{% include filters-featured.html %}
				</div>

			</div>

		</div>	
  </div>
  
	<!--   CLIENTS   -->

  <div class="wrapper wrapper-wide">
		{% include section-header.html title="clients" %}

		<div class="section section--bg">

			<div class="section-inner">
				{% include clients.html %}
			</div>

		</div>	
 
	</div>


  
	<!--   GET IN TOUCH   -->

	<!-- {% include get-in-touch.html %} -->
  
	<!--   SOCIAL   -->

<!--   <div class="wrapper wrapper-wide">
		{% include section-header.html title="social" %}

		<div class="section section--bg">

			<div class="section-inner">
				{% include social.html %}
			</div>

		</div>	
  </div> -->

</div>
