{% assign featured_clients = site.clients |  where: 'featured', true %}
{% assign rows = featured_clients.size | divided_by: 3.0 | ceil %}

<div class="filters center">
	<div class="col-wrapper">

		{% for i in (1..rows) %}
			{% assign offset = forloop.index0 | times: 3 %}
		    
		    {% for client in site.clients limit:3 offset:offset %}
				  
				  <div class="col col-3">
						<a class = "" href="{{ client.url | relative_url }}">
							<img src="{{client.logo}}" style="max-width:85%;">
						</a>
				  </div>
		  	
		  	{% endfor %}
		  
		{% endfor %}

	</div>
</div>