{% include section-header.html title="featured work" %}

<div class="section section--bg">
	<div class="section-inner">

		<p class="section-description">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi laoreet accumsan tempus. 
		</p>


		{% for work in site.work %}
		  {% if work.featured == true %}
			{% include work-block.html style="work-large"%}
		  {% endif %}
		{% endfor %}

		{% include button.html link="/work" class="next" cta="see more" colour="btn_white" %}
	</div>

</div>	