
<div class="filters">

	<p> clients </p>

		<!-- {% assign works = site.work | where: 'client', page.title %} -->

	<div class="tags">

		{% for client in site.clients %}
			<div class="tag-wrapper">
				{% if client.title == page.title %}
				<a class = "tag " href="{{ client.url }}">
				{% else %}
				<a class = "tag tag_inverted" href="{{ client.url }}">
				{% endif %}
					<p>{{client.title}}</p>
				</a>
			</div>
		{% endfor%}

	</div>


	<p> services </p>
	
	<div class="tags">

		{% for service in site.services %}
			<div class="tag-wrapper">
				{% if service.title == page.title %}
				<a class = "tag " href="{{ service.url }}">
				{% else %}
				<a class = "tag tag_inverted" href="{{ service.url }}">
				{% endif %}
					<p>{{service.title}}</p>
				</a>
			</div>
		{% endfor%}

	</div>
</div>