{% assign contents = site.services | where: 'type', 'big' %}
{% assign services = site.services | where: 'type', 'small' %}

<h3> content </h3>
<div class="tags">

	{% for content in contents %}
		<div class="tag-wrapper">
			{% if content.title == page.title %}
			<a class = "tag " href="{{ content.url }}">
			{% else %}
			<a class = "tag tag_inverted" href="{{ content.url }}">
			{% endif %}
				<p>{{content.title}}</p>
			</a>
		</div>
	{% endfor%}

</div>

<h3> services </h3>
<div class="tags">

	{% for service in services %}
		<div class="tag-wrapper">
			{% if service.title == page.title %}
			<a class = "tag " href="{{ service.url }}">
			{% else %}
			<a class = "tag tag_inverted" href="{{ service.url }}">
			{% endif %}
				<p>{{service.title}}</p>
			</a>
		</div>
	{% endfor%}

</div>