<div class="filters">

	<h3>
		Filter
		<a class="clear-btn" href="/work">Clear filter</a>
	</h3>


	{% if include.open == "client" %}
		<div class="tab">
		  	<input id="tab-one" type="checkbox" name="tabs" checked>
		  	<label for="tab-one">clients</label>
			<div class="tab-content">{% include filters-client.html %}</div>
		</div>
	{% else %}
		<div class="tab">
		  	<input id="tab-one" type="checkbox" name="tabs">
		  	<label for="tab-one">clients</label>
			<div class="tab-content">{% include filters-client.html %}</div>
		</div>
	{% endif %}
	


	{% if include.open == "content" %}
		<div class="tab">
		  	<input id="tab-two" type="checkbox" name="tabs" checked>
		  	<label for="tab-two">content type</label>
			<div class="tab-content">{% include filters-content.html %}</div>
		</div>
	{% else %}
		<div class="tab">
		  	<input id="tab-two" type="checkbox" name="tabs">
		  	<label for="tab-two">content type</label>
			<div class="tab-content">{% include filters-content.html %}</div>
		</div>
	{% endif %}
	



	{% if include.open == "service" %}
		<div class="tab">
		  	<input id="tab-three" type="checkbox" name="tabs" checked>
		  	<label for="tab-three">services</label>
			<div class="tab-content">{% include filters-service.html %}</div>
		</div>
	{% else %}
		<div class="tab">
		  	<input id="tab-three" type="checkbox" name="tabs">
		  	<label for="tab-three">services</label>
			<div class="tab-content">{% include filters-service.html %}</div>
		</div>
	{% endif %}
</div>