<footer class="site-footer">

  <a name="footer"></a>
  <div class="wrapper wrapper-wide">
    {% include section-header.html title="get in touch" %}


    <div class="section">

      <div class="section-inner">
        <div class="filters">
          
          <div class="col-wrapper">

            <div class="col col-2">
              <h3>
                Contact us on
              </h3>
              <p>
                office: {{ site.office }}  |  {{ site.mobile }}
                <br/>
                <a href="mailto:{{ site.email }}">email: {{ site.email }}</a>
              </p>

              <h3>
                Find us at
              </h3>
              <p>
              Tanjun Media
              {% capture var %}
                {{ site.address }}
              {% endcapture %}
              {{ var | newline_to_br }}
              </p>
            </div>

            <div class="col col-2">
              <p class="right">
                COMPANY NO: {{ site.company_number }}
              </p>
              <div class="social">
                <a href="mailto:{{ site.email }}">
                  <img src="/assets/img/social/social1.png"/>
                </a>
                <a href="https://www.facebook.com/{{ site.facebook_username }}/" target="_blank">
                  <img src="/assets/img/social/social2.png"/>
                </a>
                <a href="https://www.instagram.com/{{ site.instagram_username }}/" target="_blank">
                  <img src="/assets/img/social/social3.png"/>
                </a>
                <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
                  <img src="/assets/img/social/social4.png"/>
                </a>
                <a href="https://vimeo.com/{{ site.vimeo_username }}" target="_blank">
                  <img src="/assets/img/social/social5.png"/>
                </a>
              </div>
            </div>

          </div>

        </div>
      </div>

    </div>  
  </div>


</footer>
