<footer class="site-footer">

  <div class="wrapper wrapper-wide">
    {% include section-header.html title="get in touch" %}


    <div class="section section--bg">

      <div class="section-inner">
        <div class="filters">
          
          <div class="col-wrapper">

            <div class="col col-2">
              <h3>
                Contact us on
              </h3>
              <p>
                Tel: 020 7684 9872
                <br/>
                Mob: 07855259898
                <br/>
                <a href="mailto:{{ site.email }}">Email: {{ site.email }}</a>
              </p>

              <h3>
                Find us at
              </h3>
              <p>
                TANJUN MEDIA, UNIT 7,
                <br/>
                1C SHELFORD PLACE, LONDON, N16
              </p>
            </div>

            <div class="col col-2">
              <p class="right">
                COMPANY NO: 10184325
              </p>
              <div class="social">
                <a href="mailto:{{ site.email }}">
                  <img src="/assets/img/social/social1.png"/>
                </a>
                <a href="https://www.facebook.com/{{ site.facebook_username }}/" target="_blank">
                  <img src="/assets/img/social/social2.png"/>
                </a>
                <a href="https://www.instagram.com/{{ site.instagram_username }}/" target="_blank">
                  <img src="/assets/img/social/social3.png"/>
                </a>
                <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
                  <img src="/assets/img/social/social4.png"/>
                </a>
                <a href="https://vimeo.com/{{ site.vimeo_username }}" target="_blank">
                  <img src="/assets/img/social/social5.png"/>
                </a>
              </div>
            </div>

          </div>

        </div>
      </div>

    </div>  
  </div>


</footer>
