<header class="site-header">

  <div class="wrapper">

    <!-- replace content -->
    <div class="header__logo  js-replace js-replace--reverse">
      <!-- item to replace -->
      <div class="js-replace__item  js-replace__item--active">
        <div class="js-replace__content">
          <div class="logo">
            <a href="{{ site.baseurl }}/">
              <img src="{{ site.baseurl }}/assets/img/CombinationMarkV1White.png">
            </a>
          </div>

          <nav class="site-nav">
            <button class="nav hamburger hamburger--collapse" type="button">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
          </nav>

        </div>
      </div>  
      <!-- end item to replace -->
     
      <!-- item to replace with -->
      <div class="js-replace__item">
        <div class="js-replace__content">
          <div class="logo logo--invert">
            <a href="{{ site.baseurl }}/">
              <img src="{{ site.baseurl }}/assets/img/CombinationMarkV1Pink2.png">
            </a>
          </div>

          <nav class="site-nav">
            <button class="nav hamburger hamburger--collapse" type="button">
              <span class="hamburger-box hamburger-box-colour">
                <span class="hamburger-inner"></span>
              </span>
            </button>
          </nav>

        </div>
      </div>
      <!-- end item to replace with -->
    </div>
    <!-- end replace content -->
  </div>

</header>

<div class="navigation">
  <a href="/work">one</a>
  <a href="/work">two</a>
  <a href="/work">three</a>
</div>
