<div class="full-media section">
	<div class="overlay"></div>
 	<div class="video-foreground">

		<video id="vid" poster="{{ include.video }}.jpg" preload="none" loop="" muted="" playsinline="" autoplay="">
		<source id="mp4" src="{{ include.video }}.mp4" type="video/mp4">
		</video>
	</div>
</div>

<div class="hero-content">

	<div class="video-text">

		<p>{{ include.content | newline_to_br }}</p>
		
		{% if include.reel == true %}
			<p><a href="{{include.video-link | relative_url }}"  data-lity>Play 2018 Reel</a></p>
		{% else %}
			<p><a href="{{include.video-link | relative_url }}"  data-lity>Play {{ include.title }} reel</a></p>
		{% endif %}
	
	</div>
</div>



