<div class="full-media section">

	<div id="inline" style="background:#fff" class="lity-hide">
		Inline content
	</div>

	<video id="vid" poster="https://s3.eu-west-2.amazonaws.com/tanjun/hero.jpg" preload="none" loop="" muted="" playsinline="" autoplay="autoplay">
		<source id="mp4" src="https://s3.eu-west-2.amazonaws.com/tanjun/hero.mp4" type="video/mp4">
		<source id="webm" src="https://s3.eu-west-2.amazonaws.com/tanjun/hero.webm" type="video/webm">
		<source src="https://s3.eu-west-2.amazonaws.com/tanjun/hero.ogv" type="video/ogg"></source>
	</video>
</div>

<div class="hero-content">

	<div class=logo-text>
		<img src="{{ "/assets/img/logo-text.png" | prepend: site.baseurl }}">
	</div>

	<p>
		We are digital film content creators.
		<br/>
		We are digital natives We live and breathe social content.
		<br/>
		We make great stuff and tell great stories and we would love to help tell yours.
	</p>
	<a class="btn btn_white" data-lity href="//vimeo.com/193598001">
		<p>play reel</p>
	</a>
</div>