<div class=" navigation">

	{% assign pre = site.services |  where: 'phase', 'pre' %}
	{% assign prod = site.services |  where: 'phase', 'prod' %}
	{% assign post = site.services |  where: 'phase', 'post' %}

	<div class="col-wrapper">

		<div class="col col-1">

			<a class="nav-item nav-main nav-subs" id="show_clients" href="#">
				<p> 
					clients 
					<i class="fas fa-caret-right"></i>
				</p>
			</a>

			<a class="nav-item nav-main nav-subs" id="show_services" href="#">
				<p> 
					services 
					<i class="fas fa-caret-right"></i>
				</p>
			</a>

			<a class="nav-item nav-main nav" href="#footer"><p> get in touch </p></a>
		</div>

		<div class="col col-1">
			<div id="clients_nav">
				{% for client in site.clients %}
					<a class="nav-item nav" href="{{ client.url | relative_url }}"><p>{{client.title}}</p></a>
				{% endfor %}
			</div>

			<div id="services_nav">
				<h4>Pre Production</h4>
				{% for service in pre %}
					<a class="nav-item nav" href="{{ service.url | relative_url }}"><p>{{service.title}}</p></a>
				{% endfor%}

				<h4>Production</h4>
				{% for service in prod %}
					<a class="nav-item nav" href="{{ service.url | relative_url }}"><p>{{service.title}}</p></a>
				{% endfor%}

				<h4>Post production</h4>
				{% for service in post %}
					<a class="nav-item nav" href="{{ service.url | relative_url }}"><p>{{service.title}}</p></a>
				{% endfor%}
			</div>
		</div>

	</div>
</div>
