{% assign posts = site.social| reverse %}

<div class="row resources ">
  <div class="container" id="resource-slider">
    <button class='arrow prev'></button>
    <button class='arrow next'></button>
    <div class="resource-slider-frame">

		{% for post in posts %}
			<div class="resource-slider-item">
				<div class="resource-slider-inset">
					<div class="resource">
						<a href="{{ post.Link }}" target="_blank">

							{% if post.Image.size > 2 %}
								<div class="background background-image" style="background-image: url({{post.Image}})"></div>
								<div class="resource-content content-image">
									{{post}}
								</div>
							{% else %}
								<div class="background"></div>
								<div class="resource-content">
									{{post}}
								</div>
							{% endif %}

						</a>
					</div>
				</div>
			</div>
	    {% endfor %}


    </div>
  </div>
</div>