<div class="work work-feature {{ include.style }}"> 
	<a href="{{ work.url | relative_url }}"">
		
		<div class="video-wrapper">
			<div class="video-filter video-filter-overlay">
				<video poster="{{work.video}}.jpg" preload="none" loop="" muted="" playsinline="" >
					<source id="mp4" src="{{ work.video }}.mp4" type="video/mp4">
				</video>
			</div>

		    <div class="work-details">

			    <h3>
			     	{{ work.title }}
			    </h3>
			    <p class="work-description">{{ work.client }} </p>
			    
			    <div class="tags">
				    {% for service in work.service %}
				    	<div class="tag tag-small">{{ service }}</div>
				    {% endfor %}

				    <br>
			    	
				    {% for contents in work.contents %}
				    	<div class="tag tag-small">{{ contents }}</div>
				    {% endfor %}

			    </div>

		    </div>

		</div>

    </a>
</div>