.btn {
    display: inline-block;
    text-align: center;

    p {
        font-size: 16px;
        font-family: Header;
        letter-spacing: 1.5px;
        display: inline-block;
        padding: 0.5em 1.5em;
        text-shadow: none;
        text-transform: uppercase;
        font-weight: 900;
        position: relative;
        line-height: 1;

        &:before {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            transform: translate(-15%, -12%);
        }
    }
}

.btn_white {

	p {
        background-color: white;
        border: solid 1px $pink-color;
        color: $pink-color;

        &:before {
            border: 1px solid $pink-color;
            background-color: white;
        }
    }
    
}

.btn_invert {
	p {
        background-color: $pink-color;
        border: solid 1px white;
        color: white;

        &:before {
            border: 1px solid white;
            background-color: $pink-color;
        }
    }
}

.tags {
}

.tag {
    font-family: HeaderLight;
    font-size: 10px;
    text-align: center;
    color: #ffffff;
    background-color: $pink-color;
    display: inline-block;
    padding: 0.2em 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none;
    border: 2px solid $pink-color;
    width: 11em;
    min-height: 2.1em;
    vertical-align: top;
    line-height: 11px;

    &:visited {
        color: white;
    }
    &:hover {
        color: white;   
        text-decoration: none;
    }
    &:active {
        color: white;
    }
}

.tag {
    display: table;
    p {
        display: table-cell;
        vertical-align: middle;
    }
}

.tag-wrapper {
    display: inline-block;
    width: 10em;
    margin: 0 1em;
}

.tag_inverted {
    color: $pink-color;
    background-color: white;
    border: 2px solid $pink-color;
}

work {
    .tags {
        margin-bottom: 1em;
    }
}