.btn{
    position: relative;
    display: inline-block;
    margin: 2em 0;
    .inner { 
        display: inline-block;
        padding: 1em 1.5em;
        cursor: pointer;
        user-select: none;
        transform: translate3d(0.3em, -0.3em, 0);
        transition: transform 240ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
        transition-delay: 100ms;
    }
    &:hover {
        .inner {
            transform: translate3d(0.2em, -0.2em, 0);
            transition-delay: 100ms;
        }
    }  
    &:active, &.click {
        .inner {
            transform: translate3d(0, 0, 0);
            transition: transform 220ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
        }
    }  
}


.btn_white {
    background-color: $pink-color;
    border: solid 2px $pink-color;

    .inner {
        border: solid 2px $pink-color;
        color: $pink-color;
        background-color: white;
    }
    
}

.btn_invert {
    background-color: white;
    border: solid 2px white;
    margin-top: 6em;

    .inner {
        border: solid 2px white;
        color: white;
        background-color: $pink-color;
    }
}




.tags {
    text-align: center;
}

.filters {
    .tags {
        text-align: left;
    }

    .tag {
        p {
            text-align: center;
        }
    }
}

.tag {
    background-color: $pink-color;
    display: inline-block;
    padding: 0.5em 0.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none;
    border: 2px solid $pink-color;    
    min-width: 120px;
    max-width: 250px;
    width: 75%;
    min-height: 3em;
    line-height: 0.5em;
    display: table;
    p {
        display: table-cell;
        vertical-align: middle;
    }
}

.tag_inverted {
    color: $pink-color;
    background-color: white;
    border: 2px solid $pink-color;
}

.tag-small {
    width: auto;
    min-width: 5em;
    padding: 0.6em 1em; 
    min-height: auto;
    display: inline-block;
    margin: 0.2em;
    margin-bottom: 1em;

    @include media-query($on-palm) {
        margin-bottom: 0.5em;
    }
}

work {
    .tags {
        margin-bottom: 1em;
    }
}

