/**
 * ---------------------------------------   Site header   --------------------------------------*
 */
.site-header {
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    line-height: 56px;
    margin-bottom: 0;
    float: left;
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}

/**
 * ---------------------------------------   Grid  --------------------------------------*
 */

.wrapper {
    position: relative;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

.wrapper-wide {
    z-index: 96;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    @extend %clearfix;
    border-right: calc(#{$spacing-unit} / 2) solid $pink-color;
    border-left: calc(#{$spacing-unit} / 2) solid $pink-color;
    background-color: $pink-color;

    @include media-query($on-laptop) {
        padding-right: 0;
        padding-left: 0;
    }
}

.full-screen-wrapper {
    width: 100%;
    position: relative;
    height: 100vh;
    z-index: 95;
}

col-wrapper {
    @extend %clearfix;
}

.col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;

    &:first-of-type {
        padding-left: 0;
    }
}

.col-1 {
    width: -webkit-calc(25% - (#{$spacing-unit} / 2));
    width:         calc(25% - (#{$spacing-unit} / 2));
}

.col-2 {
    width: -webkit-calc(25% - (#{$spacing-unit} / 2));
    width:         calc(25% - (#{$spacing-unit} / 2));
}

.col-3 {
    width: -webkit-calc(25% - (#{$spacing-unit} / 2));
    width:         calc(25% - (#{$spacing-unit} / 2));
}

.col-4 {
    width: -webkit-calc(25% - (#{$spacing-unit} / 2));
    width:         calc(25% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .col-1,
    .col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .col-3,
    .col-4 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}


/**
 * ---------------------------------------   Border  --------------------------------------*
 */


#top, #bottom{

    background: $pink-color;
    position: fixed;
    z-index:97;

}
        
#top, #bottom {
    left: 0; right: 0;
    height: calc(#{$spacing-unit} / 2);
}

#top { 
    top: 0; 
}
#bottom { 
    bottom: 0; 
}

/**
* <!--[if lte IE 6]>
*   <style>#top, #bottom, #left, #right { display: none; }</style>
* <![endif]-->
*/


/**
 * ---------------------------------------   Other  --------------------------------------*
 */

.section {
    width: 100%;
    background-color: white;
    text-align: center;
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    margin-right: auto;
    margin-left: auto;
}

.section-header {
    width: 100%;
    background-color: $pink-color;
    height: 10em;
    position: relative;    
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    margin-right: auto;
    margin-left: auto;
    h1 {
        padding: 0;
        margin: 0;
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        line-height: 79%;
        vertical-align: baseline;

    }
}

.full-media {
    top: 0;
    bottom: 0;
    position: fixed;
    width: 100%;

    #vid {
        min-height: 100%;
        min-width: 100%;
        width: auto;
        height: 102vh;
        position: fixed;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

.hero-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    width: 100%;
    text-align: center;

    .logo-text {
        text-align: center;
    }

    p {
        font-family: HeaderLight;
        font-size: 16px;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.5;
        letter-spacing: 0.5px;
        text-align: center;
        color: #ffffff;
        text-shadow: 0 1px 1px black;
        padding: 1.5em 0;
    }
}

.site-header {
    position: fixed;
    z-index: 100;
    width: 100%;
}

.filters {
    text-align: left;
}

