/**
 * ---------------------------------------   Site header   --------------------------------------*
 */
.site-header {
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    line-height: 56px;
    margin-bottom: 0;
    float: left;
}

.site-nav {
    float: right;
    padding: 0.4em 1em 0 0;
    max-width: 3em;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}

.hamburger-box {
    .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
        background-color: white;
    }
}

.hamburger-box-colour {
    .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
        background-color: $pink-color;
    }
}

/**
 * ---------------------------------------   Grid  --------------------------------------*
 */

.wrapper {
    position: relative;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

.wrapper-wide {
    z-index: 96;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    @extend %clearfix;
    border-right: calc(#{$spacing-unit} / 4) solid rgba(249, 97, 174, 0.1);
    border-left: calc(#{$spacing-unit} / 4) solid rgba(249, 97, 174, 0.1);

    @include media-query($on-laptop) {
        padding-right: 0;
        padding-left: 0;
    }
}

.full-screen-wrapper {
    width: 100%;
    position: relative;
    height: 100vh;
    z-index: 95;
}

.col-wrapper {
    @extend %clearfix;
    width: 100%;
    margin: 1em 0;
}

.col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-right: $spacing-unit / 2;
}

.col-1 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
}

.col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
}

.col-3 {
    width: -webkit-calc(33.333% - (#{$spacing-unit} / 2));
    width:         calc(33.333% - (#{$spacing-unit} / 2));
}

.col-4 {
    width: -webkit-calc(25% - (#{$spacing-unit} / 2));
    width:         calc(25% - (#{$spacing-unit} / 2));
}

@include media-query($on-palm) {
    .col-1,
    .col-2 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }

    .col-3,
    .col-4 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }
}


/**
 * ---------------------------------------   Border  --------------------------------------*
 */


#top, #bottom{

    background: $pink-color;
    position: fixed;
    z-index:97;
    opacity: 0;

}
        
#top, #bottom {
    left: 0; right: 0;
    height: calc(#{$spacing-unit} / 4);
}

#top { 
    top: 0; 
}
#bottom { 
    bottom: 0; 
}

/**
* <!--[if lte IE 6]>
*   <style>#top, #bottom, #left, #right { display: none; }</style>
* <![endif]-->
*/


/**
 * ---------------------------------------   Other  --------------------------------------*
 */

.section {
    width: 100%;
    background-color: $pink-color;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    margin: 0 auto;
}

.section--bg {
    background-color: white;
}

.section-header {
    width: 100%;
    background-color: unset;
    height: 10em;
    position: relative;    
    margin-right: auto;
    margin-left: auto;
}

.page-heading {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: left;
    vertical-align: baseline;
}
    
.section-description {
    @extend %contentwrapper;
    padding-bottom: 1em;
}

.section-inner {
    @extend %clearfix;
    margin: 0 auto;
    padding-top: 5em;
    padding-bottom: 5em;
}

%contentwrapper {
    padding-left: 5%;
    padding-right: 5%;
}


@include media-query($on-mobile) {
    %contentwrapper {
        padding-left: 5%;
        padding-right: 5%;
    }
}

.home {
    background: $pink-color;
}

%contentwrapperwide {
    padding-left: 5%;
    padding-right: 5%;
}


.full-media {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;

    #vid {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
}

.hero-filter {
  -webkit-filter: saturate(29%) hue-rotate(261deg);
  filter: saturate(29%) hue-rotate(261deg);
}


.overlay {
    background-color: #0000002e;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    overflow: hidden;
    z-index: 2;
}

.hero-content {
    position: fixed;
    height: 100vh;
    top: 0;
    z-index: 100;
    width: 100%;
    text-align: center;

    .logo-text {
        position: absolute;
        text-align: center;
        width: 100%;

        img {
            width: 65%;
            margin: 0 auto;
            max-width: 10em;
            margin-top: 1em ;

        }
    }

    .video-text {
        position: absolute;
        bottom: 10vh;
    }
}

.site-header {
    position: fixed;
    z-index: 100;
    width: 100%;
}

.filters {
    text-align: left;
    @extend %contentwrapperwide;
    @extend %clearfix;

    h3 {
        text-align: left;
    }
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}
