.work {
	position: relative;
	.video-wrapper {
	    height: 40em;
	    overflow: hidden;
		margin: 3em 0;		
		position: relative;
	}

	video {
	    width: 100%;
	    height: 100%;
	    object-fit: cover;
	}

	.video-filter{
/*	    -webkit-filter: url(#pinkfill);  Safari 6.0 - 9.0 
		filter: url(#pinkfill);*/
 -webkit-filter: saturate(51%) grayscale(9%) hue-rotate(283deg);
  filter: saturate(51%) grayscale(9%) hue-rotate(283deg);
	}

	.work-details {
		position: absolute;
		top: 20%;
		text-align: center;
		@extend %contentwrapper;
	}
}


@include media-query($on-mobile) {
    .work {
    	.work-details {
		top: 10%;
	    }
    }
}