.work {
	position: relative;
	
	.video-wrapper {
        height: 365px;
	    overflow: hidden;
		margin: 3em 0;		
		position: relative;
	}

	video {
	    width: 100%;
	    height: 100%;
	    object-fit: cover;
		transform: translateY(-25%);
	}
	
	.video-filter {
		height: 150%;
		video {
			-webkit-filter: saturate(30%) brightness(90%);
			filter: 		saturate(30%) brightness(90%);
		}
	}

	.video-filter-overlay {
		height: 150%;
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		} 
	}

	.work-details {
		position: absolute;
		top: 10vh;
		text-align: center;
		@extend %contentwrapper;

		@include media-query($on-palm) {
			top: 10%;
			padding-left: 5%;
		    padding-right: 5%;
		}

		@include media-query($on-mobile) {
		    h3 {
		    	font-size: 2.5em;
		    }
		}
	}

	.work-large {
		.video-wrapper {
		    height: 35em;
		}

		.work-details {
			top: 20%;
		}
	}


}
