#resource-slider {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 22.5em;
  margin: auto;
  border-radius: 3px;
  background: #fff;
  overflow: hidden;
}

.resource-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding-top: 3.3em;
  p {
    color: white;
    width: 85%;
    margin: 0.2em auto;
    text-align: center;
    letter-spacing: 1.2px;
    font-size: 1.95em;
    line-height: 1.3;
  }
}

.resource-content.content-image{ 
  display: none;
  background: #00000057;
  height: 100%;
  width: 100%;
  p {
    text-align: left;
    letter-spacing: 1.2px;
    font-size: 0.95em;
    line-height: 1.3;
  }
}

.resource:hover .resource-content.content-image{
  display : block;
}

.resource {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  max-width: 100%;
  width: 100%;
  background: black;

  .background {
    height: 100%;
    background: $pink-color;
  }

  .background-image {
    background-size: cover;
    background-position: center;
  }
}

#resource-slider .arrow {
  cursor: pointer;
  position: absolute;
  width: 2em;
  height: 100%;
  padding: 0;
  margin: 0;
  outline: 0;
  background: transparent;
}

#resource-slider .arrow:hover {
  background: rgba(0, 0, 0, 0.1);
}

#resource-slider .arrow:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0.75em;
  height: 0.75em;
  margin: auto;
  border-style: solid;
}

#resource-slider .prev {
  left: 0;
  bottom: 0;
}

#resource-slider .prev:before {
  left: 0.25em;
  border-width: 3px 0 0 3px;
  border-color: #333 transparent transparent #333;
  transform: rotate(-45deg);
}

#resource-slider .next {
  right: 0;
  bottom: 0;
}

#resource-slider .next:before {
  right: 0.25em;
  border-width: 3px 3px 0 0;
  border-color: #333 #333 transparent transparent;
  transform: rotate(45deg);
}

#resource-slider .resource-slider-frame {
  position: absolute;
  top: 0;
  left: 2em;
  right: 2em;
  bottom: 0;
  border-left: 0.25em solid transparent;
  border-right: 0.25em solid transparent;
  overflow: hidden;
}

#resource-slider .resource-slider-item {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 25%;
  height: 100%;
}

#resource-slider .resource-slider-inset {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0.5em 0.25em;
  overflow: hidden;
  padding-top: 100%;
}

@include media-query($on-laptop) {
  #resource-slider {
    height: 23em;
  }
}


@include media-query($on-hoz-palm) {
  #resource-slider .resource-slider-item {
    width: 33.33%;
  }
  #resource-slider {
    height: 23em;
  }
}

@include media-query($on-palm) {
  #resource-slider .resource-slider-item {
    width: 50%;
  }
}

@include media-query($on-mobile) {
  #resource-slider .resource-slider-item {
    width: 100%;
  }
  #resource-slider {
    height: 30em;
  }
}