.blue {
	.section-header {
		background-color: $blue-color;
	}

	#left, #right, #top, #bottom {
		background: $blue-color;
	}

	.wrapper-wide {
		border-color: $blue-color;
	    background-color: $blue-color;
    }

    .section-description {
		color: $blue-color;
    }

    .tag {
    	background-color: $blue-color;
	    border: 2px solid $blue-color;
	    p {
	    	color: white;
	    }
    }

    .tag_inverted {
    	color: $blue-color;
    	border: 2px solid $blue-color;
    	background-color: white;
	    p {
	    	color: $blue-color;
	    }
    }

    .tag-small {
	    background-color: white;
	    border: 2px solid white;
	    color: $blue-color;
    }

	.video-filter-overlay {
		&:after {
			background-color: #256eff12;
		} 
	}

	h3, p, label, h4, strong {
	    color: $blue-color;
	}

	.btn_white {
	    background-color: $blue-color;
	    border: solid 2px $blue-color;

	    .inner {
	        border: solid 2px $blue-color;
	        color: $blue-color;
	    }
	    
	}

	.btn_invert {
	    .inner {
	        background-color: $blue-color;
	    }
	}

	.hamburger-box-colour {
	    .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
	        background-color: $blue-color;
	    }
	}

	.site-footer {
		background: $blue-color; 

		.col-wrapper, .section-inner {
			background: $blue-color; 
		}
	}

	.section {
	    background-color: $blue-color;
	}

	.section--bg {
	    background-color: white;
	}

	.fas {
		color: $blue-color;
	}

	.video-text {
		p {
			color: white;
		}

		a {
			color: $blue-color;
		    text-shadow: 1px 1px 0px #273fb57d;
		}
	}

	.home {
		background: $blue-color;
	}

	.chat {
	    border: 2px solid $blue-color;
	    color: $blue-color;
	    .text {
	    	p {
	    		color: $blue-color;
	    	}
	    }
    }

    .chat-client:before {
	    border-right: 20px solid $blue-color;
	}

	.chat-tanjun:before {
	    border-left: 20px solid $blue-color;
	}

	.result-block.white {
		h5, p {
			color: $blue-color;
		}
	}
}