.blue {
	.section-header {
		background-color: $blue-color;
	}

	#left, #right, #top, #bottom {
		background: $blue-color;
	}

	.wrapper-wide {
		border-color: $blue-color;
	    background-color: $blue-color;
    }

    .section-description {
		color: $blue-color;
    }

    .tag {
    	background-color: $blue-color;
	    border: 2px solid $blue-color;
	    p {
	    	color: white;
	    }
    }

    .tag_inverted {
    	color: $blue-color;
    	border: 2px solid $blue-color;
    	background-color: white;
	    p {
	    	color: $blue-color;
	    }
    }

	.video-filter{
	  	-webkit-filter: saturate(51%) grayscale(9%) hue-rotate(165deg);
	  	filter: saturate(51%) grayscale(9%) hue-rotate(165deg);
	}

	h3, p, label {
	    color: $blue-color;
	}

	.btn_white {
	    background-color: $blue-color;
	    border: solid 2px $blue-color;

	    .inner {
	        border: solid 2px $blue-color;
	        color: $blue-color;
	    }
	    
	}

	.btn_invert {
	    .inner {
	        background-color: $blue-color;
	    }
	}

	.hamburger-box-colour {
	    .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
	        background-color: $blue-color;
	    }
	}

	.logo--invert {
  
	  .logo-img {
	    background-image: url("/assets/img/LogoBlueFull.png");
	  }
	}

	.site-footer {
		background: $blue-color; 

		.col-wrapper, .section-inner {
			background: $blue-color; 
		}
	}
}