h1 {
  width: 293px;
  font-family: HeaderLight;
  font-size: 48px;
  color: white;
}


.section-description {
	padding: 0 30%;
	font-family: Body;
	font-size: 14px;
	letter-spacing: 1px;
	text-align: center;
	color: $pink-color;
	padding-top: 5em;
}
