h2 {
  width: 293px;
  font-family: HeaderLight;
  font-size: 48px;
  color: white;
  text-transform: lowercase;
}

h3 {
	padding: 1em 1em 0;
    margin-bottom: 0;
    color: $pink-color;
}

.section-description {
	padding: 0 30%;
	font-family: Body;
	font-size: 14px;
	letter-spacing: 1px;
	text-align: center;
	color: $pink-color;
	padding-top: 5em;
}
