.navigation {
	padding-top: 10em;

	.col-wrapper {
	}

	.col-1 {	
	    width: -webkit-calc(50%);
	    width:         calc(50%);
	}

	p {
		color: white;
		text-align: left;
		padding: 0 5%;
		margin-bottom: 10px;
	}

	h4 {
		margin: 1.5em 0 1em;
	}

	a {
		color: white;
		text-decoration: none;
	}

	h4 {
		color: #FFF;
	}

	.nav-main {
		font-size: 1.2em;
		margin: 0.5em 0;
		p {
			text-align: right;
			}
		}

	.nav-subs {
		.fas {
			color: white;
		}
	}
}

#clients_nav, #contents_nav, #services_nav {
	display: none; 
}