.solution-section {
	margin: 5em 0;
	float: left;

	.image, .video, p {
		display: inline-block;
	}

	.video {
		position: relative;
		overflow: hidden;
		iframe {
			width:100%;
			height:100%;
			border:none;
			position: absolute;
			left: 0;
			top: 0;
			-webkit-filter: saturate(50%) grayscale(15%) brightness(100%);
			filter: 		saturate(50%) grayscale(15%) brightness(100%);
		}
	}

	.video-filter {
		width: 100%;
	    height: 100%;
	    position: absolute;
	    left: 0;
	    top: 0;
	}

	.one-one {
		width: 49%;
		padding-bottom: 49%;
		overflow: hidden;
	}

	.one-two {
		width: 50%;
		padding-bottom: 29%;
		overflow: hidden;
	}

	.one-three {
		width: 50%;
		padding-bottom: 25%;
		overflow: hidden;
	}

	.two-one {
		width: 29%;
		padding-bottom: 48%;
		overflow: hidden;
	}

	.image.two-one, .image.one-two, .image.one-one, .image.one-three {
		padding-bottom: 0;
		max-width: 30em;
		overflow: hidden;
	}

	strong {
		display: block;
	    padding-bottom: 0.5em;
	}

	p {
		width: 50%;
		line-height: 1.8;
		padding: 0;

		@include media-query($on-hoz-palm) {
			line-height: 1.4;
		}
	}

	blockquote {
		p {
			font-style: normal;
			font-family: BodyMedium;
		    text-transform: uppercase;
		    letter-spacing: 0.04em;
		    font-size: 1em;

		    em {
		    	padding-top: 1em;
		    	font-family: 'Body';
			    font-style: normal;
			    display: inline-block;
			    font-size: 0.8em;
		    }
		}
	}

	&:nth-child(odd) {
	    text-align: right;

	    .video, .image {
	    	float: right;
	    }

	    h3, p {
	    	text-align: right;
	    }

	    p {
			padding-right: 4%;
	    }
	}

	&:nth-child(even) {
	    text-align: left;

	    .video, .image {
	    	float: left;
	    }

	    h3, p {
	    	text-align: left;
	    }

	    p {
			padding-left: 4%;
	    }
	}

}


@include media-query($on-palm) {
	.solution-section {
		margin: 1em 0;

		p {		
			width: 100%;
			padding: 2em 0;
		}

		&:nth-child(even) {
			p, blockquote {
				padding-left: 0;
			}
		}

		&:nth-child(odd) {
		    text-align: center;

			p, h3 {
				padding-right: 0;
				text-align: left;
			}

		    .video, .image {
		    	float: initial;
		    }
		}


		.image.two-one, .image.one-two, .image.one-one, .image.one-three {
			padding-bottom: 0;
			max-width: 20em;
			overflow: hidden;
		}

		.one-one, .one-two, .one-three, .two-one, .big {
			width: 100%;
		}

		.one-one {
			padding-bottom: 75%;
		}

		.one-two {
			padding-bottom: 55%;
		}

		.one-three {
			padding-bottom: 40%;
		}

		.two-one {
			max-width: 20em;
			padding-bottom: 90%;
		}
	}
}


.result-block {
	padding-top: 25%;
	position: relative;
	margin-left: 0;
	width: 25%;
	display: inline-table;
	float: left;
	h5 {
		text-align: center;
	    margin-top: 50%;
	}

	p {
	    padding: 0;
	    padding-top: 0.2em;
	}
}

.result-additional {
	text-align: center;
	padding-top: 1em;
	display: block;
}

.result {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	p {
		text-align: center;
	}
}

.result-block.white {
	h5, p {
		color: $pink-color;
	}
	p {
	    max-width: 80%;
	    margin: 0 auto;
	}
}

@include media-query($on-palm) {
	.result-block {
		width: 40%;
		padding-top: 36%;
		margin-left: 7%;

		h5 {
			margin-top: 40%;
		}
	}
}


@include media-query($on-mobile) {
	.result-block {
		padding: 0;
		height: 20vh;
		width: 100%;
		margin-left: 0;
		margin-bottom: 1vh;

		h5 {
			margin-top: 16%;
			margin-bottom: 3%;
		}
	}

	.result-block.white {
	    background-size: 60% 100%;
		p {
			max-width: 35%;
		    margin: 0 auto;
		}
	}

	.result-additional {
		display: none;
	}
}
