---
layout: default
---

<div class="home">
  <div class="full-screen-wrapper">
    {% include hero.html video=page.video content=page.description link="//vimeo.com/193598001" %}
  </div>

  <div class="wrapper wrapper-wide">
    {% include section-header.html title="the challenge" %}

    <div class="section section--bg">

      <div class="section-inner">
        <div class="filters">

          {% for content in page.chat %}
            
            {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
            {% assign my_client = site.clients | where:"title",page.client %}
            {% assign my_client_logo = my_client.first.logo %}

            {% if thecycle == 'odd' %}

              {% include chat-bubble.html chat=content brand="client" logo=my_client_logo %}

            {% else %}

              {% include chat-bubble.html chat=content brand="tanjun" logo="/uploads/britishtri.png" %}

            {% endif %}
          {% endfor %}

        </div>
      </div>

    </div>  
  </div>



  <div class="wrapper wrapper-wide">
    {% include section-header.html title="the solution" %}

    <div class="section section--bg">

      <div class="section-inner">
        <div class="filters">

          hi
        </div>
      </div>

    </div>  
  </div>

</div>