---
layout: default-blue
---

  <!--   CHALLENGE   -->


<div class="home">
  <div class="full-screen-wrapper">
    {% include hero.html video=page.video content=page.description video-link=page.video-link reel=false title=page.title %}
  </div>

  {% if page.chat %}
    <div class="wrapper wrapper-wide">
      {% include section-header.html title="the challenge" %}

      <div class="section section--bg">

        <div class="section-inner">
          <div class="filters">

            {% for content in page.chat %}
              
              {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
              {% assign my_client = site.clients | where:"title",page.client %}
              {% assign my_client_logo = my_client.first.logo %}

              {% if thecycle == 'odd' %}

                {% include chat-bubble.html chat=content brand="client" logo=my_client_logo %}

              {% else %}

                {% include chat-bubble.html chat=content brand="tanjun" logo="/uploads/LogoPinkHead.png" %}

              {% endif %}
            {% endfor %}

          </div>
        </div>

      </div>  
    </div>
  {% endif %}


  <!--   SOLUTION   -->



  {% if page.content.size > 1 %}
    <div class="wrapper wrapper-wide">
      {% include section-header.html title="the solution" %}

      <div class="section section--bg">

        <div class="section-inner">
          <div class="filters solution">

            {% assign sections = page.content | split: '<hr />' %}

            {% for section in sections %}
              <div class="solution-section">{{ section }}</div>
            {% endfor %}

          </div>
        </div>

      </div>  
    </div>
  {% endif %}


  <!--   RESULTS   -->


    {% if page.results %}
        <div class="wrapper wrapper-wide">

            {% include section-header.html title="results" %}


            <div class="section">
                <div class="section-inner">

                    <div class="filters">

                      {% for result in page.results %}
                          <div class="result-block white">
                              <div class="result">
                                  <h5>{{ result[1] }}</h5>
                                  <p>{{ result[0] }}</p>
                              </div>
                          </div>
                      {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    {% endif %}

    <!--   GET IN TOUCH   -->

    {% if page.content.size > 1 %}
      {% include get-in-touch.html %}
    {% endif %}


    <!--   SEE SOME MORE   -->

    <div class="wrapper wrapper-wide">
            {% include section-header.html title="similar work" %}

        <div class="section section--bg">

            <div class="section-inner">
            
            {% assign linked_work_1 = site.work | where: 'client', page.client %}
            {% assign linked_work_2 = site.work | where: 'contents', page.contents[0] %}
            {% assign linked_work_3 = site.work | where: 'contents', page.contents[1] %}
            {% assign linked_work_4 = site.work | where: 'contents', page.contents[2] %}
            {% assign featured_work = site.work | where: 'featured', true %}

            {% assign linked_work = linked_work_1 | concat: linked_work_2 | concat: linked_work_3 | concat: linked_work_4 | concat: featured_work | uniq | at_most: 3 %}

            {% for work in linked_work  limit:3 %}
                {% unless work.title contains page.title %}
                    {% include work-block.html %}
                {% endunless %}
            {% endfor %}

            {% include button.html link="/work" class="next" cta="see more" colour="btn_white" %}

            </div>

        </div>  
    </div>

</div>