---
layout: default-blue
---

{% assign bubbles = page.chat | newline_to_br | split: '<br />' %}

{% for member in beatles %}
  {{ member }}
{% endfor %}

<div class="home">
  <div class="full-screen-wrapper">
    {% include hero.html video=page.video content=page.description link="//vimeo.com/193598001" %}
  </div>

  <div class="wrapper wrapper-wide">
    {% include section-header.html title="the challenge" %}

    <div class="section section--bg">

      <div class="section-inner">
        <div class="filters">
          <div class="col-wrapper chat-block">

            <div class="col col-2">
            </div>

            <div class="col col-2">
              {% for chat in bubbles %}
                <p>{{ chat }}</p>
              {% endfor %}
            </div>



          </div>
        </div>
      </div>

    </div>  
  </div>

</div>